# data directory contents #
###########################

*.xls
*.xlsx
*.csv
*.nc
*.cdf
*.download

# compiled files #
##################

*.pyc


# image files #
###############

*.png
**/*.png
*.svg

# System OS files #
###################

.DS_Store
*.DS_Store

# Data Files #
###########

*.xlsx